replicaCount: 2

image:
  repository: facundo676/frontend-shop
  tag: "20251219-234805-0d7a603"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 80

resources:
  limits:
    cpu: 300m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

backendServiceName: backend-test-service

env:
  REACT_APP_ENV: "test"
  REACT_APP_API_URL: "http://backend-test-service:8080"
  BACKEND_SERVICE_HOST: "backend-test-service"
