replicaCount: 2

image:
  repository: facundo676/backend-shop
  tag: "20251222-201128-b363b65"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080
  targetPort: 8080

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi

env:
  SPRING_PROFILES_ACTIVE: "demo"
  SERVER_PORT: "8080"